#videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.video-player{
    background-color: black;
    width: 100%;
}

#video-wrapper{
    position: relative;
}

#waiting{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 40px;

}

#answer{

}

.video-label {
    text-align: center;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.video-label.me {
    background-color: #875f00;
}